<h1> What's Happenin'? </h1>

<div class="description">
  <p> Announcements go here </p>
</div>

<div id="announcement-list">
  <%= render "announcement_list" %>
</div>


<h5>Make an Announcement</h5>
<div id="new-annoucement">
  <%= form_for([current_user.house, @announcement], remote: true) do |f| %>

    <div id="announcement-form-errors">
      <%= render "announcement_errors" %>
    </div>
    <br>

    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_area :description %>
    </div>

    <div class="field">
      <%= f.label :importance, "Important" %><br />
      <%= f.check_box :importance %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>