<h1> What's Happenin'? </h1>

<span class="new-announcement">
 <%= render "new_announcement_modal" %>
</span>

<div class="custom mdl-card mdl-shadow--2dp description">
  <div class="mdl-card__supporting-text">
   <span class="descrition-text"> <strong>Hey, <%= current_user.first_name %>! Keep your housemates posted here. If the announcement is important, it will get texted out to all of your housemates. </strong> </span>
   <div><%= image_tag('announcements.png') %></div>
  </div>
</div>


<div id="announcement-list">
 <%= render "announcement_list" %>
</div>

<div class="center-horizontal">
  <div class="pagination" >
    <%= paginate @announcements %>
  </div>
</div>

