<h1> Announcements </h1>

<div class = "description">
	<p> Announcements go here </p>
</div>

<div class = "container">
	<% @announcements.each do |announcement| %>
		Name: <%= announcement.title %> <br>
		Description: <%= announcement.description %> <br>
		Important: <%= announcement.importance %> <br>
		<%= link_to("Delete", house_announcement_path(current_user.house_id, announcement), method: :delete) if announcement.owner_id = current_user.id %><br><br>
	<% end %>
</div>


	<%= link_to "Create new announcement", new_house_announcement_path(current_user.house_id) %>
