<%= render "layouts/setup_header" %>

 <div class="mdl-grid">
  <div class="mdl-cell mdl-cell--3-col"></div>
    <div class="mdl-cell mdl-cell--6-col">
      <% if flash[:notice] %>
        <p class="flash-notice"><%= notice %></p>
      <% end %>
      <% if flash[:alert] %>
        <p class="flash-alert"><%= alert %></p>
      <% end %>


      <h1>Create Your House</h1>

      <%= form_for @house do |f| %>
       <div class="form-group">
        <div class="mdl-textfield mdl-js-textfield">
          <%= f.label :name, :class => "mdl-textfield__label" %><br />
          <%= f.text_field :name, :class => "mdl-textfield__input" %>
        </div>

        <div class="actions">
           <%= f.submit "Create", :class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
        </div>

      <% end %>

       </div>
        <p>To join an existing house, ask one of the members to add you to it.</p>
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
</div>
<div class="mdl-cell mdl-cell--3-col"></div>
</div>