 <div class="mdl-grid">
  <div class="mdl-cell mdl-cell--3-col"></div>
    <div class="mdl-cell mdl-cell--6-col">
      <% if flash[:notice] %>
        <p class="flash-notice"><%= notice %></p>
      <% end %>
      <% if flash[:alert] %>
        <p class="flash-alert"><%= alert %></p>
      <% end %>


<h1>Create new house</h1>

<%= form_for @house do |f| %>


 <div class="form-group">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.label :name, :class => "mdl-textfield__label" %><br />
    <%= f.text_field :name, :class => "mdl-textfield__input" %>
  </div>

  <div class="actions">
  	 <%= f.submit "Create new house", :class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
  </div>

  <div class="actions">
   
  </div>

<% end %>

  </div>
<div class="mdl-cell mdl-cell--3-col"></div>



