<p>Add your Homys on the settings page</p>


<div id="new-event">
  <%= render "events/new_event_modal" %>
</div>

<div id="event-list">
  <%= render "events/event_list" %>
</div>

<br>

<% @users.each do |user| %>
  <div class="custom mdl-card mdl-shadow--2dp mdl-grid">
    <div class="mdl-card__supporting-text mdl-cell mdl-cell--8-col">

      <div class="name-title">
        <%= user.full_name %><br><br>
      </div>
      <i class="material-icons">local_activity</i> Points: <%= user.total_points %> <br><br>
    </div>

    <div class="mdl-cell mdl-cell--4-col">
      <div class="card">
        <%= image_tag user.avatar, :class => 'avatar' %>
      </div>
    </div>

  </div>
<% end %>

