<h1>Welcome to <%= @house.name %></h1>

<p>Add your Homys on the settings page</p>

<h3> Events </h3>

<div id="new-event">
  <%= render "events/new_event_modal" %>
</div>

<div id="event-list">
  <%= render "events/event_list" %>
</div>


<h3>Housemates</h3>

<% @users.each do |user| %>

<div class="demo-card-wide mdl-card mdl-shadow--2dp list-card">

	<div class="mdl-card__supporting-text">

		<div class="name-title">
			<%= user.full_name %> <br><br>
      <span class="avatar_home_placement"><%= image_tag user.avatar, id: 'avatar' %><span>
		</div>
		<i class="material-icons">local_activity</i> Points: <%= user.total_points %> <br><br>
	</div>
</div>

<% end %>

