<h1>Welcome to <%= @house.name %></h1>

<p>Add your Homys on the settings page</p>

<h3>Housemates</h3>

<% @users.each do |user| %>
	Name: <%= user.full_name %> <br>
	Phone Number: <%= user.phone_num %> <br>
  	Email: <%= user.email %><br/>
  	Points: <%= user.points %> <br><br>




<% end %>

