<h1>Welcome to <%= @house.name %></h1>

<p>Add your Homys on the settings page</p>

<h3>Housemates</h3>

<% @users.each do |user| %>

<div class="demo-card-wide mdl-card mdl-shadow--2dp list-card">

	<div class="mdl-card__supporting-text">

		<div class="name-title">
			<%= user.full_name %> <br><br>
		</div>
		<i class="material-icons">smartphone</i> Phone Number: <%= user.phone_num %> <br><br>
		<i class="material-icons">email</i> Email: <%= user.email %><br><br>
		<i class="material-icons">local_activity</i> Points: <%= user.points %> <br><br>

	</div>
</div>

<% end %>

