<script>

  $(document).ready(function() {
    
    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,basicWeek,basicDay'
      },
      defaultDate: '2015-02-12',
      editable: true,
      eventLimit: true, // allow "more" link when too many events
      events: [
        {
          title: 'All Day Event',
          start: '2015-02-01'
        },
        {
          title: 'Long Event',
          start: '2015-02-07',
          end: '2015-02-10'
        },
        {
          id: 999,
          title: 'Repeating Event',
          start: '2015-02-09T16:00:00'
        },
        {
          id: 999,
          title: 'Repeating Event',
          start: '2015-02-16T16:00:00'
        },
        {
          title: 'Conference',
          start: '2015-02-11',
          end: '2015-02-13'
        },
        {
          title: 'Meeting',
          start: '2015-02-12T10:30:00',
          end: '2015-02-12T12:30:00'
        },
        {
          title: 'Lunch',
          start: '2015-02-12T12:00:00'
        },
        {
          title: 'Meeting',
          start: '2015-02-12T14:30:00'
        },
        {
          title: 'Happy Hour',
          start: '2015-02-12T17:30:00'
        },
        {
          title: 'Dinner',
          start: '2015-02-12T20:00:00'
        },
        {
          title: 'Birthday Party',
          start: '2015-02-13T07:00:00'
        },
        {
          title: 'Click for Google',
          url: 'http://google.com/',
          start: '2015-02-28'
        }
      ]
    });
    
  });

</script>
<style>

  body {
    margin: 40px 10px;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
  }

  #calendar {
    max-width: 900px;
    margin: 0 auto;
  }

</style>









<div class="custom mdl-card mdl-shadow--2dp description">
  <div class="mdl-card__supporting-text">
   <span class="descrition-text"> <strong>Hey, <%= current_user.first_name %>! Here's what's on tap for this month. </strong> </span>
   <%= image_tag('events.png') %>
  </div>
</div>

      <div id="new-event">
  <%= render "events/new_event_modal" %>
</div>

<div id="event-list">
  <%= render "events/event_list" %>
</div>

<br>

<div id='calendar'></div>


<% @users.each do |user| %>
  <div class="custom mdl-card mdl-shadow--2dp mdl-grid">
    <div class="mdl-card__supporting-text mdl-cell mdl-cell--8-col">

      <div class="name-title">
        <% if user == @users.first %>
          <%= user.full_name %> <i class="material-icons">stars</i>
        <% else %>
          <%= user.full_name %>
        <% end %>
        <br><br>
      </div>
       Points: <%= user.total_points %> <br><br>
    </div>

    <div class="mdl-cell mdl-cell--4-col">
      <div class="card">
        <%= image_tag user.avatar, :class => 'avatar' %>
      </div>
    </div>

  </div>
<% end %>




<h5>Add Homy</h5>
<div class="custom mdl-card mdl-shadow--2dp">
  <div class="mdl-card__supporting-text">
    <% if flash[:alert] %>
      <%= form_tag house_invite_housemate_path(current_user.house_id), method: :patch do %>


      <div class="field">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <%= label_tag :email, "Email", :class => "mdl-textfield__label" %>
          <%= email_field_tag :email, params[:email], :class => "mdl-textfield__input" %>
        </div>
      </div>

        <div class="actions">
          <%= submit_tag "Invite Homy", :class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
        </div>
      <%end%>

    <% else %>
      <%= form_tag house_add_housemate_path(current_user.house_id), method: :patch do %>

        <div class="field">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <%= label_tag :email, "Email", :class => "mdl-textfield__label" %>
              <%= email_field_tag :email, params[:email], :class => "mdl-textfield__input" %>
            </div>
        </div>

      <div class="actions">
        <%= submit_tag "Add Homy", :class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"%>
      </div>
    <% end %>
  <% end %>

  </div>
</div>
