<h1> Events </h1>

<%= button_to "Add Event", new_house_event_path, :id => "open-contacts-dialog-btn", :class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent", method: :get %>

<div class="calendar-container">
  <div>
    <div>


      <%= month_calendar(events: @events, attribute: 'date') do |date, events| %>
        <% if Date.today == date %>
          <span id="today_number"><%= date.day %></span>
        <% else %>
          <%= date.day %>
        <% end %>

      <% events.each do |event| %>
        <div>
          <%= event.date.strftime("%l:%M %p ") %>
          <%= event.name %>
        </div>
      <% end %>

      <% end %>

    </div>
  </div>
</div>

