<br>

<%= link_to "Add event", new_house_event_path %>
<br>
<br>
<%= month_calendar(events: @events, attribute: 'date') do |date, events| %>
  <% if Date.today == date %>
    <span id="today_number"><%= date.day %></span>
  <% else %>
    <%= date.day %>
  <% end %>

  <% events.each do |event| %>
    <div>
      <%= event.date.strftime("%l:%M %p ") %>
      <%= event.name %>
    </div>
  <% end %>

<% end %>


