<h3>Create new event</h3>

<%= form_for [current_user.house, @event] do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_field :date %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

