<h3>Create new event</h3>

<%= form_for [current_user.house, @event] do |f| %>

  <div class="field">
    <%= f.label :name, "Event" %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.datetime_select :date, :minute_step => 30 %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

