
<% unless @housemates.empty? %>
  <h2>Homys Contact Information</h2>
  <% @housemates.each do |housemate| %>
    <% if current_user != housemate %>
      <div class="custom mdl-card mdl-shadow--2dp mdl-grid">
        <div class="mdl-card__supporting-text mdl-cell mdl-cell--8-col mdl-cell--4-col-phone">

          <div class="name-title">
            <%= housemate.full_name %><br><br>
          </div>
          <i class="material-icons">email</i><%= housemate.email %><br><br>
          <i class="material-icons">smartphone</i><%= housemate.phone_num %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>


<h2>Other Options</h2>
<div class="custom mdl-card mdl-shadow--2dp">
  <div class="mdl-card__supporting-text">
    <% if @house.users.size != 1 %>
      <%= button_to "Leave House", house_path("user"), :id => "open-contacts-dialog-btn",
          :class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent", method: :delete %>
          <br>
    <%end%>
    <%= button_to "Destroy House", house_path(current_user.house), :id => "open-contacts-dialog-btn",
      :class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent", method: :delete %>
  </div>
</div>


