<!DOCTYPE html>
<html>

<body>

  <p> Your friend <%= @current_user.full_name %> wants to add you to  <%= @current_user.house.name %> on Homys! </p>

  <p> Click the link below to move in to your home:  </p>

  <a href="http://www.homys.space/houses/<%= @house %>/join_house/<%= @user.id %>/<%= @current_user.id %>">Move In</a>

</body>
</html>