<header class="mdl-layout__header">
  <div class="mdl-layout__header-row login">
      <div class="logo_main">
          <%= image_tag("homy-sml")%>
          <%= link_to "Homys", root_path %>
      </div>
    <div class="mdl-layout-spacer"></div>
  </div>
</header>


 <div class="mdl-grid">
  <div class="mdl-cell mdl-cell--3-col"></div>
    <div class="mdl-cell mdl-cell--6-col">
      <% if flash[:notice] %>
        <p class="flash-notice"><%= notice %></p>
      <% end %>
      <% if flash[:alert] %>
        <p class="flash-alert"><%= alert %></p>
      <% end %>


<div id="send-pin">
  <h3>What's your phone number?</h3>
  <p>Your phone number will only be used to receive important announcements from your homys and to be notified about expenses owed.</p>
  <%= form_for @phone_number, remote: true do |f| %>

    <div class="form-group">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <%= f.label :phone_number, :class => "mdl-textfield__label" %>
          <%= f.text_field :phone_number, :class => "mdl-textfield__input", :pattern => "-?[0-9]*(\.[0-9]+)?" %>
        <span class="mdl-textfield__error">Input is not a number!</span>
      </div>
    </div>

    <%= f.submit "Send PIN", :class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent", id: 'send-pin-link' %>



  <% end %>
</div>



<div id="verify-pin">

  <h3>Enter your PIN</h3>
    <%= form_tag phone_numbers_verify_path do |f| %>
    <%= hidden_field_tag 'hidden_phone_number', '' %>

    <div class="form-group">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= label_tag :pin, "Input PIN", :class => "mdl-textfield__label" %>
        <%= text_field_tag :pin, "", :class => "mdl-textfield__input" %>
      </div>
    </div>

  <%= submit_tag "Verify PIN", :class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
  <% end %>
</div>


    <%= link_to "Logout", destroy_user_session_path, method: :delete %>


  </div>
<div class="mdl-cell mdl-cell--3-col"></div>



