<header class="mdl-layout__header">
  <div class="mdl-layout__header-row login">
      <div class="logo_main">
          <%= image_tag("homy-sml")%>
          <%= link_to "Homys", root_path %>
      </div>
    <div class="mdl-layout-spacer"></div>
  </div>
</header>

 <div class="mdl-grid">
  <div class="mdl-cell mdl-cell--3-col"></div>
    <div class="mdl-cell mdl-cell--6-col">
      <% if flash[:notice] %>
        <p class="flash-notice"><%= notice %></p>
      <% end %>
      <% if flash[:alert] %>
        <p class="flash-alert"><%= alert %></p>
      <% end %>

<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.label :email, :class => "mdl-textfield__label" %><br />
    <%= f.email_field :email, :class => "mdl-textfield__input" %>
  </div>
  </div>

  <div class="field">
   <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.label :password, :class => "mdl-textfield__label" %><br />
    <%= f.password_field :password, autocomplete: "off", :class => "mdl-textfield__input" %>
  </div>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>
<br>
  <div class="actions">
    <%= f.submit "Log In", :class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
  </div>
<% end %>
<br>
<%= render "devise/shared/links" %>


  </div>
<div class="mdl-cell mdl-cell--3-col"></div>

