<% @chore_items.each do |chore| %>
<div class="demo-card-wide mdl-card mdl-shadow--2dp list-card">
  <div class="mdl-card__supporting-text">

    <% if chore.user %>
      <span class="avatar_chore_placement"><%= image_tag chore.user.avatar, id: 'avatar' %></span>
    <% end %>

    <div class="chore-title">
      <%= chore.name.capitalize %> <br><br>
    </div>

    <%= chore.description %> <br><br>

    <% if chore.done != true && chore.user == current_user%>
      <%= link_to "Complete", house_chore_item_path(@house, chore), method: :patch, :class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
    <% elsif chore.done == true %>

      DONE

    <% end %>

   <br><br>
   <div class="delete-button">
    <%= link_to('<i class="material-icons">delete</i>'.html_safe, house_chore_item_path(current_user.house_id, chore), method: :delete) if chore.owner_id == current_user.id %> <br><br>
  </div>
</div>
</div>
<% end %>

