<% if @new_chore_items.count == @chore_items.count %>
     <div class="custom mdl-card mdl-shadow--2dp description">
        <div class="mdl-card__supporting-text">
          <span class="descrition-text"> <strong>INITIAL SETUP ONLY: Only click the randomize button below once you are satisfied with your chore list. Once this button is clicked, you will have to wait until Sunday until chores are randomized again.</strong><%= link_to "Randomize Chores Now", house_chore_assigner_path(@house), method: :patch, :class => "mdl-button mdl-js-button mdl-js-ripple-effect" %></span>
        </div>
    </div>
  <% end %>
<% @chore_items.each do |chore| %>
<div class="custom mdl-card mdl-shadow--2dp mdl-grid">
  <div class="mdl-cell mdl-cell--8-col mdl-cell--3-col-phone">

    <div class="mdl-card__supporting-text">
      <strong><%= chore.description %></strong>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--4-col mdl-cell--1-col-phone">
    <div class="card">
      <div class="delete-button">
        <%= link_to('<i class="material-icons">close</i>'.html_safe, house_chore_item_path(current_user.house_id, chore), method: :delete, remote: true)  %>
      </div>
      <% if chore.user %>
        <span class="avatar_chore_placement"><%= image_tag chore.user.avatar, class: 'avatar' %></span>
        <div class="clear center-horizontal"><%= chore.user.first_name %></div>
      <% end %>
    </div>
  </div>

  <div class="mdl-card__actions mdl-card--border">
    <% if chore.done != true && chore.user == current_user%>
    <%= link_to "Complete", house_chore_item_path(@house, chore), method: :patch, :class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
    <% elsif chore.done == true %>
      <i class="material-icons nav">check_circle</i> Done
    <% elsif chore.user == nil %>
      <i class="material-icons nav">new_releases</i> NEW
    <% elsif chore.user != current_user %>
    <i class="material-icons nav">timer</i> <em>Pending</em>
    <% end %>
  </div>
</div>
<% end %>
