<h1> House Quests </h1>

<p> House Quests are weekly chores around the house. </p>

<p> <%= link_to "Randomize chores", house_chore_assigner_path(current_user.house_id), method: :patch %> </p>

<div class = "chore_list">
<% @chore_items.each do |chore| %>
  <%= chore.name %> <br>
  Description: <%= chore.description %> <br>
  <% if chore.user %>
    Assigned to: <%= chore.user.full_name %> <br>
  <% end %>
  <%= link_to("Delete", house_chore_item_path(current_user.house_id, chore), method: :delete) if chore.owner_id == current_user.id %> <br><br>
<% end %>
</div>

<%= link_to 'Create a new chore', new_house_chore_item_path(current_user.house_id) %>


