<div class="modal">
  <label for="modal-1">
    <span class="modal-trigger">
      <span class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
        <i class="material-icons">add</i>
      </span>
    </span>
  </label>
  <input class="modal-state" id="modal-1" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-close" for="modal-1"></div>
       <%= render 'layouts/progress' %>
       <h4>Add a New House Quest</h4>
      <p class="modal-content">
        <div id="new-chore", class="progress_bar">
          <%= form_for([current_user.house, @chore_item], remote: true) do |f| %>

            <div id="chore-form-errors">
              <%= render "chore_item_errors" %>
            </div>
            <br>

            <div class="field">
              <div class="mdl-textfield mdl-js-textfield">
                <%= f.label :description, :class => "mdl-textfield__label" %>
                <%= f.text_area :description, :class => "mdl-textfield__input" %>
              </div>
            </div>

            <div class="actions">
              <%= f.submit "Create a Quest", :class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
            </div>

          <% end %>
        </div>
    </p>
    </div>
  </div>
</div>