<h1> House Quests </h1>

<span class="new-chore">
	<%=render 'new_chore_modal' %>
</span>

<div class="custom mdl-card mdl-shadow--2dp description">
	
		<div class="mdl-card__supporting-text">
			<strong>Hey, <%= current_user.first_name %>! Add house quests here. </strong>
			<span class="descrition-text"> You will be randomly assigned to new Quests every Sunday.  </span>
			<%= image_tag('chores.png') %>
		</div>
</div>


<div id="chore-list">
  <%= render "chore_item_list" %>
</div>

<div class="center-horizontal">
  <%= paginate @chore_items %>
</div>
