<% @shopping_items.each do |shopping_item| %>
<div class="demo-card-wide mdl-card mdl-shadow--2dp">

  <div class="mdl-card__supporting-text">
    <div class="shopping-title">
      <%= shopping_item.name.capitalize %><br><br>
    </div>

      <%= shopping_item.importance %> <br><br>

    <% if shopping_item.user_id == nil %>

      <%= button_to "I've got it", house_shopping_item_path(@house, shopping_item), :id => "open-contacts-dialog-btn",
      :class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent", :method => :patch %>
    
    <% else %>
    Assigned to <%= shopping_item.user.full_name %> <br><br>

      <%= button_to "Bought it", house_shopping_item_path(current_user.house, shopping_item), :id => "open-contacts-dialog-btn",
      :class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent", method: :delete %>

    <% end %> <br>

    <div class="delete-button">
      <%= link_to('<i class="material-icons">remove_circle</i>'.html_safe, house_shopping_item_path(current_user.house_id, shopping_item), method: :delete) if shopping_item.owner_id == current_user.id %>
    </div>

  </div>
</div>
<% end %>

