<% @shopping_items.each do |shopping_item| %>
<div class="custom mdl-card mdl-shadow--2dp mdl-grid">
  <div class="mdl-cell mdl-cell--8-col mdl-cell--3-col-phone">

    <div class="mdl-card__supporting-text">
      <% if shopping_item.importance == "1" %>
      <i class="material-icons">error</i> <strong><%= shopping_item.name.capitalize %></strong>
    <% else %>
      <strong><%= shopping_item.name.capitalize %></strong>
    <% end %>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--4-col mdl-cell--1-col-phone">
    <div class="card">
      <div class="delete-button">
        <%= link_to('<i class="material-icons">close</i>'.html_safe, house_shopping_item_path(current_user.house_id, shopping_item), method: :delete) %>
      </div>
      <% if shopping_item.user %>
        <span class="avatar_shopping_item_placement"><%= image_tag shopping_item.user.avatar, class: 'avatar' %></span>
              <div class="clear center-horizontal"><%= shopping_item.user.first_name %></div>
      <% end %>

    </div>
  </div>

  <div class="mdl-card__actions mdl-card--border">
    <% if shopping_item.user_id == nil %>
      <%= button_to "I've got it", house_shopping_item_path(@house, shopping_item), :id => "open-contacts-dialog-btn",
    :class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent", :method => :patch %>
    <% elsif shopping_item.user_id == current_user.id %>
       <%= button_to "Bought it", house_shopping_item_bought_item_path(@house, shopping_item), :id => "open-contacts-dialog-btn",
      :class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored", method: :delete %>
    <% else %>
      <i class="material-icons nav">timer</i> <em>Pending</em>
    <% end %>
  </div>

</div>
<% end %>

