  <% @shopping_items.each do |shopping_item| %>
    Name: <%= shopping_item.name %><br>
    Importance: <%= shopping_item.importance %> <br>

  <button type="submit" value="submit">
    <%= form_for [current_user.house, shopping_item] do |f| %>
        <div class="field">
        <%= f.label :user_id, "I've got it" %> <br>
        <%= f.hidden_field :user_id %>
        </div>
      <% end %>
    </button><br>

  <label class="label-switch">
    <input type="checkbox" />
    <div class="checkbox"></div>
  </label>

  <%= link_to("Delete", house_shopping_item_path(current_user.house, shopping_item), method: :delete) if shopping_item.owner_id == current_user.id %> <br> <br>
  <% end %>