<% @shopping_items.each do |shopping_item| %>
  <div class="demo-card-wide mdl-card mdl-shadow--2dp">

    <div class="mdl-card__supporting-text">

      <% if shopping_item.user %>
        <span class="avatar_shopping_items_placement"><%= image_tag shopping_item.user.avatar, id: 'avatar' %></span>
      <% end %>

      <% if shopping_item.importance == "1" %>
        <i class="material-icons">error</i> <%= shopping_item.name.capitalize %><br><br>
      <% else %>
        <%= shopping_item.name.capitalize %><br><br>
      <% end %>

      <% if shopping_item.user_id == nil %>
        <%= button_to "I've got it", house_shopping_item_path(@house, shopping_item), :id => "open-contacts-dialog-btn",
          :class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent", :method => :patch %>

      <% else %>

        <% if shopping_item.user_id == current_user.id %>
          <%= button_to "Bought it", house_shopping_item_path(current_user.house, shopping_item), :id => "open-contacts-dialog-btn",
            :class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored", method: :delete %>
        <% end %>
      <% end %>
      <br>

      <div class="delete-button">
        <%= link_to('<i class="material-icons">delete</i>'.html_safe, house_shopping_item_path(current_user.house_id, shopping_item), method: :delete) if shopping_item.owner_id == current_user.id %>
      </div>
    </div>
  </div>
<% end %>

