<h1>Create new loot</h1>

<%= form_for [current_user.house, @shopping_item] do |f| %>
  
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :importance, "Need ASAP" %><br />
    <%= f.check_box :importance %>
  </div>

  <div class="actions">
  	<%= f.submit %>
  </div>

<% end %>
