  <% @expenses.each do |expense| %>
    <div class="expense-info">
    <%= expense.title %><br>
    Total Amount: <%= expense.amount %><br>
    Pay By: <%= expense.date_due %><br>
  </div>

  <div class="user-expenses">
    <% expense.users.each do |user| %>
      <%= user.full_name %> owes: <%= expense.split_amount %> , <%= link_to("paid", "") if expense.owner_id == current_user.id  %> <br>
    <% end %>
  </div>

    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      COMPLETE
    </button>

    <%= link_to "Delete", house_expense_path(current_user.house, expense), method: :delete %><br><br>
  <% end %>