<h1>All About $$$</h1>

<%= link_to "My Dues", house_expense_path(@house, "ious"), :class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"%>

<span class="new-expense">
  <%= render "new_expense_modal" %>
</span>

<div class="custom mdl-card mdl-shadow--2dp description">
  <div class="mdl-card__supporting-text">
   <span class="descrition-text"> <strong>Hey, <%= current_user.first_name %>! Let your housemates know what they owe you and see your IOUs here. New expenses get texted to those who owe. </strong> </span>
   <%= image_tag('expenses.png') %>
  </div>
</div>




<div id="expense-list">
  <%= render "expense_list" %>
</div>

<div class="center-horizontal">
  <%= paginate @expenses %>
</div>
