<h1>All About $$$</h1>
<%= link_to "My Dues", "" %><br>
<%= link_to "All Expenses", "" %><br><br>

<div id="expense-list">
  <%= render "expense_list" %>
</div>

<div id="new-expense">
  <h5>New Expense</h5>
  <%= form_for([current_user.house, @expense], remote: true) do |f| %>

    <div id="expense-errors">
      <%= render "expense_errors" %>
    </div><br>

    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.label :amount, "Total Amount" %><br />
      <%= f.number_field :amount, :step => 0.01 %>
    </div>

    <div class="field">
      <%= f.label :date_due, "When Should Homys Pay You By" %><br />
      <%= f.date_field :date_due%>
    </div>

    <div class="field">
      <%= f.label :user_ids, "Who Owes" %><br />
      <%= f.select :user_ids, User.all.collect{ |u| [ u.full_name, u.id ] },{}, {:multiple => true, class: "housemates"} %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>

<script type="text/javascript">$(".housemates").select2();</script>

