<div class="mdl-layout__drawer navbar-container">

	<% if user_verified_phone? %>
	<header class="drawer-header">

		<%= image_tag current_user.avatar, id: 'navavatar' %>

		<span id="name" class="mdl-layout-title"><%= current_user.first_name.capitalize if current_user %>
		</span>

		<div class = "header-points">
			Points: <%= current_user.total_points if current_user %>
		</div>

		<div class="drop-down-button">
			<button id="optns" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
  			<i class="material-icons">arrow_drop_down</i>
			</button>
			<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="optns">
              <li><%= link_to "Edit Profile", edit_user_registration_path, :class => "mdl-menu__item"%></li>
              <li><%= link_to "Logout", destroy_user_session_path, :class => "mdl-menu__item", method: :delete %></li>
              <li><%= link_to "Settings", house_settings_path(current_user.house), :class => "mdl-menu__item" %></li>
              <li><%= link_to "Feedback", house_setting_path(current_user.house, "feedback"), :class => "mdl-menu__item" %></li>
            </ul>
		</div>


		</header>
		<% end %>

		<nav class="mdl-navigation">

			<% if user_signed_in? && current_user.house_id %>
			<%= render 'layouts/logged_in_links' %>
			<% end %>

		</nav>

	</div>
