<!DOCTYPE html>
<html>
<head>
  <title>Homys</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.blue-red.min.css" />
  <script src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-69713631-1', 'auto');
    ga('send', 'pageview');
  </script>
</head>

<body>

 <% if current_user && current_user.house_id != nil && current_user.has_verified_phone? %>

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">


        <%= render 'layouts/header' %>
        <%= render 'layouts/left_hand_nav' %>

    <main class="mdl-layout__content mdl-color-text--black-600">
      <div class="page-content mdl-grid">
        <div class="mdl-cell mdl-cell--3-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
        <div class="mdl-cell mdl-cell--6-col  mdl-cell--8-col-tablet mdl-cell--4-col-phone">
          <% if flash[:notice] %>
          <p class="flash-notice"><%= notice %></p>
          <% end %>

          <% if flash[:alert] %>
          <p class="flash-alert"><%= alert %></p>
          <% end %>
          <%= render 'layouts/progress' %>
          <%= yield %>
        </div>
        <div class="mdl-cell mdl-cell--3-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
      </main>
    </div>
  <% else %>
    <%= yield %>
  <% end %>

</body>
</html>