<!DOCTYPE html>
<html>
<head>
  <title>Homys</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.indigo-pink.min.css">
<script src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>

<body>


      <% if user_signed_in? && current_user.house_id != nil %>

        Logged in as <strong><%= current_user.first_name %></strong>.<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
          <%= link_to "Loot List", house_shopping_items_path(current_user.house_id), remote: true %>
          <%= link_to "House Quests", house_chore_items_path(current_user.house_id), remote: true %>
          <%= link_to "Announcements", house_announcements_path(current_user.house_id), remote: true %>
          <%= link_to "Commandments", house_commandments_path(current_user.house_id), remote: true %>
          <%= link_to "Expenses", house_expenses_path(current_user.house_id), remote: true %>

      <% else %>

        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.first_name %></strong>.<%= link_to("Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link')  %>

        <% else %>
          <%= link_to("Sign up", new_user_registration_path, :class => 'navbar-link')   %>
          <%= link_to("Login", new_user_session_path, :class => 'navbar-link')   %>
        <%end%>

      <% end %>


  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
            mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <div class="mdl-layout-spacer">
        Homys
      </div>

  </header>

  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">avatar</i>&nbsp;AVATAR</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>&nbsp;&nbsp;Home</a>
      <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">people</i>&nbsp;&nbsp;House Guests</a>
      <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">shopping_cart</i>&nbsp;&nbsp;Loot List</a>
      <a class="mdl-navigation__link" href="">
      <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">announcement</i>&nbsp;&nbsp;Announcements</a>



      <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">list</i><a class="mdl-navigation__link" <%= link_to "Commandments", house_commandments_path(current_user.house_id), remote: true %> >
      </a>



      <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">attach_money</i>&nbsp;&nbsp;Expenses</a>
      <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">access_time</i>&nbsp;&nbsp;Calendar</a>
      <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">settings</i>&nbsp;&nbsp;Settings</a>
    </nav>
  </div>

  <main class="mdl-layout__content">
    <div class="page-content">
      <div style="padding-left:200px"id="main">
          <%= yield %>
      </div>
    </div>
  </main>
</div>







</body>
</html>
