<!DOCTYPE html>
<html>
<head>
  <title>Homys</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.indigo-pink.min.css">

  <script src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>

<body>

  <% if user_signed_in? && current_user.house_id != nil %>
    Logged in as <strong><%= current_user.first_name %></strong>.<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  <% else %>
    <%= link_to "Sign Up", new_user_registration_path %>
    <%= link_to "Log In", new_user_session_path %>

  <% end %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <%= render 'layouts/header' %>
    <%= render 'layouts/left_hand_nav' %>

    <main class="mdl-layout__content">
      <div class="page-content">
        <div id="main">
          <%= yield %>
        </div>
      </div>
    </main>
  </div>

</body>
</html>