<!DOCTYPE html>
<html>
<head>
  <title>Homys</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.blue_grey-light_blue.min.css" />

  <script src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>

<body>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <%= render 'layouts/header' %>
    <%= render 'layouts/left_hand_nav' %>

    <main class="mdl-layout__content mdl-color-text--black-600">
      <div class="page-content">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </div>
    </main>
  </div>

</body>
</html>